.card {
    width: 250px;
    min-height: 250px;
    border: 2px solid #f9a857;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .cardheading {
    font-size: 1.5rem;
    font-weight: bold;
    color:#f9a857;
  }
  
  .cardcontent {
    margin-top: 8px;
    overflow-wrap: break-word;
  }