/* Create a Sentence Page Styling */

.create_sentence {
    /*
    - Make it a flex container where items are spaced evenly and aligned to the center
    */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sentence_form {
    /*
    - Make it a flex container where items arranged in a column and aligned to the center
    */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_row {
    /*
    - Add a 16px bottom margin
    */
    margin-bottom: 16px;
}

.form_row p {
    /*
    - Change font for title 'Sentence'
    - Change font-size to 20px
    */
    font-size: 20px;
}

.sentence_input {
    /*
    - Make the textbox size
    */
    height: auto;
    width: auto;
}

#sentence_submission {
    /*
    - Change background color to black
    - Change font color to orange #f9a857
    - Increase the font size to 20px
    - Add padding 10px vertically 24 px horizontally
    - Add rounded corners with border-radius 4px
    */
    background-color: #f9a857;
    color: white;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 4px;
    border-color: #f9a857;
}

/* Changes style on hover */
#sentence_submission:hover {
    /*
    - Change opacity to 80%
    - Change mouse cursor to pointer
    */
    opacity: 80%;
    cursor: pointer;
}