.typing_game {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100vw;
}

.sentence_dropdown {
    text-align: center;
}

.sentence_label {
    font-size: 1.5rem;
}

#sentence_selector {
    font-size: 1.5rem;
}

.start_button {
    background-color: #f9a857;
    color: white;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 4px;
    border-color: #f9a857;
}

.start_button:hover {
    /*
    - Change opacity to 80%
    - Change mouse cursor to pointer
    */
    opacity: 80%;
    cursor: pointer;
}

.typing_component {
    padding: 1rem;
    border: 2px solid black;
    font-size: 2rem;
    text-align: center;
}

.stats {
    font-size: 1.5rem;
}